html{
    display: flex;
    justify-content: center;
    margin:0;
    width:100%;
    height: 100%;
    background: repeating-radial-gradient(farthest-side ellipse at center,  #f00b2a ,  #da1d37 ,  #bf283d 80px);
    background-repeat: no-repeat;
}

td
{
   width: 2cm;
    height: 2cm;
    margin: 0px;
    padding: 0px;
    border: 2px black inset;
    border-radius: 2cm;
    background-color: grey;
    cursor: pointer;
}

#titre
{
    display: flex;
    justify-content: center;
   font-size : 60px ;
    color : black ;
    text-shadow : 4px 1px 3px #000 ;
    filter : dropshadow(color=#000, offx=4, offy=1) ;
}

#plateau {
    border-style: double;
    border-width: 5px;
    background-color:  blue ;
    opacity: 0.8;

}

td
{
    background-color: blue;
}
#plateau td {
    width: 3cm;
    height: 3cm;
    margin: 0px;
    padding: 0px;
    border-radius: 2cm;
    background-color: white;
    cursor: pointer;
}
#plateau td.joueur1 {
    background-color: black;
}
#plateau td.joueur2 {
    background-color: white;
}
